*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: larger;
}


body {
    background-color: #212529;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    font-size: 3rem;
}

.conatiner{
    background-color: whitesmoke;
    padding: 1em;
    width: 15%;
    border: none;
    border-radius: 1em;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}